// Site variables
$body_font: 'Karla';
$heading_font: 'Zilla Slab';

$colour1: #fcfdfc;
$colour2: #4f514f;
$colour3: #b83912;
$colour4: #000;
$colour5: #f4fef6;
$colour6: #e19724;
$colour7: #802828;

$background_col: $colour1;
$foreground_col: $colour2;
$heading_col: $colour3;
$header_col: $colour4;
$link_col: $colour5;
$actions_col: $colour6;
$slider_col: $colour7;
