// Core html elements 
* {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}
body {
  background: $background_col;
  color: $foreground_col;
  font-family: $body_font, 'Roboto', sans-serif;
  font-size: 1.5em;
}
h1,h2,h3,h4 {
  font-family: $heading_font, serif;
  color: $heading_col;
}
h1 {
  font-size: 8rem;
  text-shadow: 1px 2px 3px $header_col;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
h1.title {
  text-align: center;
}
h2.sub {
  text-align: center;
  font-weight: lighter;
}
p {
  padding-bottom: 10px;
}
.centre {
  text-align: center;
}
a {
  color: $link_col;
}
a:hover {
  color: $actions_col;
}
.vl-wrap {
  display: block;
}
.vl-page {
  padding: 30px;
  background: $page_bg;
}
img {
  max-width: 100%;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}
figure {
  padding: 15px;
}
figure img {
  max-width: 400px;
}
figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  padding: 5px 0 8px 0;
}
footer {
  text-align: center;
  background: $header_col;
  color: $link_col;
  bottom: 0;
  width: 100%;
  line-height: 300px;
}
// Display page as grid where browser allows
@supports (display: grid) {
  .vl-wrap {
    display: grid;
  }
}
