// Forms
section.contact-form {
  background: #2a2424;
  color: #d7dfd9;
  padding: 50px;
  // margin-top: 20px;
}
section.contact-form h2 {
  margin-bottom: 20px;
}
.vi-form label {
  font-size: 1.3rem;
}
.form-label {
  padding-bottom: 5px;
}
.form-text-input,
.form-textarea,
.form-checkboxes {
  padding-bottom: 15px;
}
.form-checkboxes {
  font-size: 1.3rem;
  line-height: 25px;
}
.form-checkboxes input {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}
input#firstname,
input#lastname,
input#email,
textarea#message {
  width: 60%;
  border: 1px solid $background_col;
  border-radius: 3px;
  font-size: 1rem;
  padding-left: 10px;
}
input#firstname,
input#lastname,
input#email {
  height: 30px;
}
textarea#message {
  height: 200px;
  padding-top: 10px;
  font-family: $body_font, Roboto, sans-serif;
}
/* Hide default form checkbox */
.vi-form input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.vi-check-container {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vi-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d4d4d4;
}
/* On mouse-over, add a grey background */
.vi-check-container:hover input ~ .vi-check {
  background-color: #ccc;
}
.vi-check-container input:checked ~ .vi-check {
  background-color: $actions_col;
  border: 1px solid $actions_col;
}
.vi-check:after {
  content: "";
  position: absolute;
  display: none;
}
.vi-check-container input:checked ~ .vi-check:after {
  display: block;
}
.vi-check-container .vi-check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="submit"]{
  background: #d4d4d4;
  font-size: 1.3rem;
  font-family: $body_font, Roboto, sans-serif;
  width: 10%;
  min-width: 100px;
  height: 35px;
  margin-top: 15px;
  letter-spacing: -1.2px;
  border-radius: 3px;
  border-color: #d4d4d4;
}
input[type="submit"]:hover {
  background: $actions_col;
  color: $header_col;
  border-color: $actions_col;
}
