// Gallery
.title-container {
  padding: 20px 0;
}
.gallery-images {
  padding: 15px;
  margin-bottom: 20px;
  background: #e0e3e0;
  color: #6c6969;
  column-width: 325px;
  column-gap: 15px;
  max-width: 2000px;
  box-shadow: -1px 1px 3px #010101;
}
.gallery-item {
  margin: 0 2px 15px;
  height: 100%;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}
.img-link {
  height: 100%;
  display: block;
  position: relative;
}
.gallery-item img {
  box-shadow: 0.5px 0.5px 3px #010101;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.gall-text {
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 98%;
  line-height: 180px;
  padding: 15px;
  background: rgba(0,0,0,0.74);
  color: $actions_col;
  text-align: center;
  font-size: 1.3rem;
  opacity: 0;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.gall-text:hover {
  opacity: 1;
}
/* Fade in animation for gallery items */
.mfp-content {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
.fade-in {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}
.mfp-title {
  font-family: $body_font, sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: normal;
}
.mfp-counter {
  font-weight: bold;
}
