---
layout: default
title: Blog
---
<!-- Title container -->
<section class="title-container">
  <h1 class="title">{{ page.title }}</h1>
</section>
<section class="blog">
    <div class="blog-grid">
      {% for post in site.posts %}
        <div class="blog-listing">
          <a href="{{ site.baseurl }}/{{ post.url }}" title="{{ post.title }}">
            <div class="blog-post">
              <img data-date="{{ post.date }}" class="blog-img" src="{{ site.baseurl }}/{{ post.listing_image }}" alt="{{ post.image_caption }}">
              <div class="blog-caption">
                <h3>{{ post.title }}</h3>
                <p class="date"><i class="far fa-calendar-alt"></i> {{ post.date | date: "%d %B %Y" }}</p>
                {% if post.summary %}
                  <p class="listing">{{ post.summary | strip_html | strip_newlines | truncate: 200 }}</p>
                {% else %}
                  <p class="listing">{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }} </p>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
</section>
