<h2>Get in touch</h2>
<form action="{{ site.baseurl }}/form-submit.html" method="post" class="vi-form">
  <div class="row">
    <div class="form-label">
      <label for="firstname">First name:</label>
    </div>
    <div class="form-text-input">
      <input type="text" id="firstname" name="first-name" placeholder="Your first name">
    </div>
  </div>
  <div class="row">
    <div class="form-label">
      <label for="lastname">Last name:</label>
    </div>
    <div class="form-text-input">
      <input type="text" id="lastname" name="last-name" placeholder="Your last name">
    </div>
  </div>
  <div class="row">
    <div class="form-label">
      <label for="email">Email address:</label>
    </div>
    <div class="form-text-input">
      <input type="email" id="email" name="your-email" placeholder="Your email address">
    </div>
  </div>
  <input type="text" name="_gotcha" style="display:none" />
  <div class="row">
    <div class="form-label">
      <label for="interest">What are you interested in?</label>
    </div>
    <div class="form-checkboxes">
      <label class="vi-check-container">
        <input type="checkbox" name="interest1" value="latex">
        Buying latex <span class="vi-check"></span><br />
      </label>
      <label class="vi-check-container">
        <input type="checkbox" name="interest2" value="baseball">
        <span class="vi-check"></span>Baseball<br />
      </label>
      <label class="vi-check-container">
        <input type="checkbox" name="interest3" value="superman">
        <span class="vi-check"></span>Superman<br />
      </label>
      <label class="vi-check-container">
        <input type="checkbox" name="interest4" value="architect">
        <span class="vi-check"></span>Pretending to be an architect<br />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="form-label">
      <label for="message">Leave us a message:</label>
    </div>
    <div class="form-textarea">
      <textarea name="your-message" id="message" rows="15" cols="100"></textarea>
      <!-- <input type="textarea" id="message" name="your-message" cols="60" rows="5" /> -->
    </div>
  </div>
  <input type="submit" value="Send">
</form>
