<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab|Alfa+Slab+One|Karla" rel="stylesheet">
  {% if page.stylesheet %}
    {% for stylesheet in page.stylesheet %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  {% endif %}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicon.ico">
</head>
  <body>
      <!-- Wrapper -->
      <div class="vl-wrap">
        <!-- Main nav -->
        <nav>
          <div id="logo-container">
            <h2>Vandelay Industries</h2>
          </div>
          <!-- Container for popout nav -->
          <div id="nav-container">
            <button class="hamburger">&#9776;</button>
            <button class="cross">&#735;</button>
          </div>
          <!-- Popout nav menu -->
          <div class="pop-menu">
            <ul>
              {% unless page.url contains '/blog/' %}
                {% for item in site.data.nav_links.docs %}
                  <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              {% else %}
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/about.html">About</a></li>
                <li class=""><a href="/sales.html">Sales</a></li>
                <li class=""><a href="/gallery.html">Our Work</a></li>
                <li class="active"><a href="/blog.html">Blog</a></li>
              {% endunless %}
            </ul>
          </div>
          <!-- Nav links -->
          <div class="nav-links">
            <ul>
              {% unless page.url contains '/blog/' %}
                {% for item in site.data.nav_links.docs %}
                  <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              {% else %}
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/about.html">About</a></li>
                <li class=""><a href="/sales.html">Sales</a></li>
                <li class=""><a href="/gallery.html">Our Work</a></li>
                <li class="active"><a href="/blog.html">Blog</a></li>
              {% endunless %}
            </ul>
          </div>
        </nav>
          {{ content }}
        <!-- Footer -->
        <footer>
          <p>&copy; Art Vandelay 2019.</p>
        </footer>
      </div>
      <!-- End of wrapper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    {% if page.js %}
      {% for js in page.js %}
        <script src="{{ js }}"></script>
      {% endfor %}
    {% endif %}
    <script src="/js/main.js"></script>
  </body>
</html>
